.title{
    padding: 1rem 2rem;
    background-color: #fffbfc;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #9796f0;
    box-shadow:rgb(137, 129, 129) 3px 3px  5px;;
}

.container{
    display: grid;
    padding: 5%;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
}

.contactContainer{
    background-color: #fffbfc; 
    padding: 1rem;
    margin: 2%;
    font-family:Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns:3fr 1fr;
    width:600px;
    text-align: left;
    border-radius: 10px;
    font-size:small;
    box-shadow: rgb(137, 129, 129) 3px 3px  5px;
    align-items: center;

}

h3{
    margin: 2%;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(67, 67, 67);
}

.form{
    background-color: #fffbfc; 
    padding: 1rem;
    width: 80%;
    margin: 2%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: rgb(137, 129, 129) 3px 3px  5px;
    text-align: center;
}

.info{
    color: #9796f0;
    font-weight: bold;
}

.search{
    display: flex;
    justify-content: space-between;
}

.form-control{
    border: #9796f077 1px solid;
    padding: 1rem;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2) inset;
    margin: 3%;
    border-radius: 10px;
    width: 90%;
}

.form_control{
    border: #9796f077 1px solid;
    padding: 0.5rem;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2) inset;
    border-radius: 10px;
}

.saveButton{
    border: #9796f077 1px solid;
    background-color: #9796f077;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    margin: 0.7rem;
}

.saveButton:hover{
    background-color: #fbc7d4;
    color: #454476;
}

.buttonContainer{
    display: flex;
    justify-content: space-around;
}

.buttonContainer button{
    background-color: transparent;
    border: none;
}

.icon{
    color: #9796f0;
}

.icon:hover{
    color: #fbc7d4;
}

@media screen and (max-width: 768px){

    .container{
        display: grid;
        gap: 8%;
        grid-template-columns: 1fr;
    }

    .form{
        margin-top: 20%;
    }

    .search{
        display: flex;
        flex-direction: column;
    }

    .form_control{
        width: 50%;
    }

    .contactContainer{
        margin-left: 0;
        margin-right: 0;
    }

}